# Welcome to Sales Report
author: Jack Lau <br>
last edit: 05/11/19 <br>
purpose: this report is use to show the sales info for the intopia

In [1]:
import pandas as pd
from intopia_analysis import *

In [3]:
df_contact = pd.read_csv('Intopia - Contact List - Sheet1.csv')
df_sales = get_sales_data('phase2/period7/')
df_production = get_production_data('phase2/period7/')
df_inventory = get_inventory_data('phase2/period7/')

In [7]:
df_production

0   Company  Grade  Unit Production type region
0         3      1          580.000    x     cc
1         5      1           90.000    x     cc
2         8      3          150.000    x     cc
3        14      3          580.000    x     cc
4        33      2          260.000    x     cc
5        38      3          235.000    x     cc
6        38      4          235.000    x     cc
7        40      0          290.000    x     cc
8        46      2          290.000    x     cc
9        48      3          290.000    x     cc
10       55      1          100.000    x     cc
11       56      4          270.000    x     cc
12       58      2          290.000    x     cc
13       60      2          261.000    x     cc
0         7      3          600.000    x     ec
1        12      3          300.000    x     ec
2        15      0          300.000    x     ec
3        17      2          300.000    x     ec
4        18      0          277.000    x     ec
5        22      1            3.000    x     ec
6        22      2          297.000    x     ec
7        27      1          142.000    x     ec
8        27      0          100.000    x     ec
9        29      1           18.000    x     ec
10       29      2          100.000    x     ec
11       31      2          570.000    x     ec
12       32      1          247.000    x     ec
13       32      2          247.000    x     ec
14       34      2          260.000    x     ec
15       35      1          300.000    x     ec
..      ...    ...              ...  ...    ...
2         8      3          150.000    x     cc
3        14      3          580.000    x     cc
4        33      2          260.000    x     cc
5        38      3          235.000    x     cc
6        38      4          235.000    x     cc
7        40      0          290.000    x     cc
8        46      2          290.000    x     cc
9        48      3          290.000    x     cc
10       55      1          100.000    x     cc
11       56      4          270.000    x     cc
12       58      2          290.000    x     cc
13       60      2          261.000    x     cc
0        11      2          180.000    y     ec
1        16      3          290.000    y     ec
2        17      2          240.000    y     ec
3        35      0            5.793    y     ec
4        43      0            9.000    y     ec
5        52      0          140.000    y     ec
6        56      4          135.000    y     ec
0         9      2          225.000    y     wc
1        25      2          200.000    y     wc
2        25      3          270.000    y     wc
3        27      2           79.000    y     wc
4        27      1          130.000    y     wc
5        30      2          240.000    y     wc
6        36      1          100.000    y     wc
7        50      0          140.201    y     wc
8        53      2           50.000    y     wc
9        55      1          200.000    y     wc
10       56      4          420.000    y     wc

[92 rows x 5 columns]

In [15]:
df_supply = pd.merge(df_inventory, df_production, on=['Company', 'Grade', 'region', 'type'], how='outer')
df_supply = df_supply[['Company', 'type', 'Grade', 'region', 'Units', 'Unit Production']]
df_supply = df_supply.rename(columns={'Units':"inventory", 'Unit Production':"production"})

In [17]:
df_supply[df_supply['Company'] == 25]

0    Company type  Grade region  inventory  production
104       25    y      3     cc      200.0         NaN
123       25    y      3     wc      400.0       270.0
167       25    y      2     wc        NaN       200.0