# Welcome to Sales Report
author: Jack Lau <br>
last edit: 05/11/19 <br>
purpose: this report is use to show the sales info for the intopia

In [1]:
import pandas as pd
from intopia_analysis import *

In [2]:
df_contact = pd.read_csv('Intopia - Contact List - Sheet1.csv')
df_sales = get_sales_data('phase2/period7/')
df_production = get_production_data('phase2/period7/')
df_inventory = get_inventory_data('phase2/period7/')
df_ad = get_advertising_data('phase2/period7/')

In [3]:
df_ad_fixed = df_ad[['Company', 'type', 'region', 'Total']]
price = (df_sales['Price'].replace( '[\$,)]','', regex=True )
                   .replace( '[(]','-',   regex=True ).astype(float))
df_sales['Price'] = price

In [4]:
df_supply = pd.merge(df_inventory, df_production, on=['Company', 'Grade', 'region', 'type'], how='outer')
df_supply = df_supply[['Company', 'type', 'Grade', 'region', 'Units', 'Unit Production']]
df_supply = df_supply.rename(columns={'Units':"inventory", 'Unit Production':"production"})
df_total = pd.merge(df_supply, df_sales, on=['Company', 'Grade', 'region', 'type'], how='outer')
df_total = df_total.rename(columns={'Unit Sales':"sales"})
df_total = pd.merge(df_total, df_ad_fixed, on=['Company', 'region', 'type'], how='outer')
df_total = df_total.rename(columns={'Total':"marketing"})

## Total Sales per area

In [12]:
df_sales['cost'] = df_sales['Price'] * df_sales['Unit Sales']

In [30]:
df_sales[(df_sales['region'] == 'cc') & (df_sales['type'] == 'x') & (df_sales['Grade'] == 0)]

    Company  Unit Sales  Grade  Price type region       cost
0         4     100.000      0   80.0    x     cc   8000.000
1         9     150.662      0  112.0    x     cc  16874.144
12       40     190.000      0   75.0    x     cc  14250.000
17       49      92.152      0   80.0    x     cc   7372.160
20       52     228.991      0   73.0    x     cc  16716.343
23       58       0.003      0   30.0    x     cc      0.090

In [22]:
df_sales_sum = pd.DataFrame(df_sales.groupby(['type', 'region','Grade'])['Unit Sales'].sum())
df_sales_cost = pd.DataFrame(df_sales.groupby(['type', 'region','Grade'])['cost'].sum())
df_sales_insight = pd.merge(df_sales_sum, df_sales_cost, on=['type', 'region', 'Grade'], how='outer')
df_sales_insight['average price'] = df_sales_insight['cost'] / df_sales_insight['Unit Sales']
df_sales_insight

                   Unit Sales        cost  average price
type region Grade
x    cc     0         761.808   63212.737      82.977255
            1         569.606   52826.855      92.742799
            2        1289.493  132715.043     102.920328
            3         817.155   90897.132     111.236096
            4         120.000   10920.000      91.000000
     ec     0        2005.531  127514.949      63.581639
            1         582.726   48143.005      82.616882
            2        1064.344   89705.044      84.282003
            3         130.397   14897.620     114.248181
            4         120.000   10080.000      84.000000
     wc     0         657.904   44083.580      67.006098
            1        1079.043   96613.062      89.535878
            2        1744.485  170372.217      97.663332
            3         630.236   69982.083     111.041075
            4         260.000   24700.000      95.000000
y    cc     0         255.000   50750.000     199.019608
            2         590.000  185120.000     313.762712
            3         580.000  186300.000     321.206897
            4         271.000   83468.000     308.000000
     ec     0           9.000    1890.000     210.000000
            2          80.000   20000.000     250.000000
            4         168.939   48485.493     287.000000
     wc     0         245.991   49547.424     201.419662
            1         310.000   72900.000     235.161290
            2         739.000  221410.000     299.607578
            3         627.902  187715.286     298.956344
            4         123.000   36162.000     294.000000

## Total marketing as percentage of sales

In [44]:
df_sales_per_team = pd.DataFrame(df_sales.groupby(['Company', 'region','type'])['cost'].sum())
df_sales_per_team = pd.merge(df_sales_per_team, df_ad_fixed, on=['type', 'region', 'Company'], how='outer')
df_sales_per_team['percentage_sales'] = df_sales_per_team['Total'] / df_sales_per_team['cost']
df_sales_per_team = df_sales_per_team[['Company', 'region', 'type', 'percentage_sales']]

In [45]:
df_total = pd.merge(df_total, df_sales_per_team, on=['Company', 'region', 'type'], how='outer')

## Top sales in CC

In [51]:
df_total[(df_total['region'] == 'cc') & (df_total['type'] == 'x')].sort_values(by='sales', ascending=False)

,Company,type,Grade,region,inventory,production,sales,Price,marketing,percentage_sales
115,17,x,2.0,cc,56.587,NaN,343.413,100.00,1000.0,0.025444
100,48,x,3.0,cc,8.470,290.0,281.530,115.00,500.0,0.015444
101,48,x,3.0,cc,8.470,290.0,281.530,115.00,500.0,0.015444
89,9,x,3.0,cc,423.765,NaN,248.175,123.00,1092.0,0.023038
127,52,x,0.0,cc,181.009,NaN,228.991,73.00,15.0,0.000897
128,54,x,1.0,cc,12.520,NaN,212.480,97.00,NaN,NaN
121,34,x,2.0,cc,57.977,NaN,202.023,96.00,545.0,0.022809
126,40,x,0.0,cc,290.000,290.0,190.000,75.00,400.0,0.028070
125,40,x,0.0,cc,290.000,290.0,190.000,75.00,400.0,0.028070
114,14,x,3.0,cc,682.553,580.0,187.447,88.00,NaN,NaN
113,14,x,3.0,cc,682.553,580.0,187.447,88.00,NaN,NaN
193,20,x,2.0,cc,NaN,NaN,161.000,115.00,450.0,0.024305
90,9,x,0.0,cc,615.205,NaN,150.662,112.00,1092.0,0.023038
102,49,x,2.0,cc,59.380,NaN,140.620,95.00,NaN,NaN
142,61,x,2.0,cc,71.553,NaN,128.447,105.00,500.0,0.020010
132,56,x,4.0,cc,275.000,270.0,120.000,91.00,NaN,NaN
133,56,x,4.0,cc,275.000,270.0,120.000,91.00,NaN,NaN
98,46,x,2.0,cc,205.797,290.0,113.990,130.00,NaN,NaN
97,46,x,2.0,cc,205.797,290.0,113.990,130.00,NaN,NaN
140,60,x,2.0,cc,NaN,261.0,100.000,95.00,NaN,NaN
196,45,x,2.0,cc,NaN,NaN,100.000,93.00,NaN,NaN
192,4,x,0.0,cc,NaN,NaN,100.000,80.00,NaN,NaN
143,61,x,3.0,cc,NaN,NaN,100.000,115.00,500.0,0.020010
141,60,x,2.0,cc,NaN,261.0,100.000,95.00,NaN,NaN
103,49,x,0.0,cc,58.043,NaN,92.152,80.00,NaN,NaN
118,28,x,1.0,cc,317.241,NaN,82.759,100.00,50.0,0.006042
195,41,x,1.0,cc,NaN,NaN,80.000,85.34,NaN,NaN
116,17,x,1.0,cc,NaN,NaN,58.367,85.00,1000.0,0.025444
122,34,x,1.0,cc,NaN,NaN,50.000,90.00,545.0,0.022809
197,50,x,1.0,cc,NaN,NaN,50.000,94.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
94,38,x,3.0,cc,NaN,235.0,0.003,107.00,200.0,623.052960
95,38,x,3.0,cc,NaN,235.0,0.003,107.00,200.0,623.052960
91,38,x,5.0,cc,265.000,NaN,NaN,NaN,200.0,623.052960
92,38,x,4.0,cc,265.000,235.0,NaN,NaN,200.0,623.052960
93,38,x,4.0,cc,265.000,235.0,NaN,NaN,200.0,623.052960
96,46,x,3.0,cc,290.000,NaN,NaN,NaN,NaN,NaN
99,48,x,4.0,cc,290.000,NaN,NaN,NaN,500.0,0.015444
104,3,x,1.0,cc,580.000,580.0,NaN,NaN,NaN,NaN
105,3,x,1.0,cc,580.000,580.0,NaN,NaN,NaN,NaN
106,5,x,0.0,cc,80.000,NaN,NaN,NaN,NaN,NaN
107,5,x,1.0,cc,NaN,90.0,NaN,NaN,NaN,NaN
108,5,x,1.0,cc,NaN,90.0,NaN,NaN,NaN,NaN
109,6,x,0.0,cc,290.000,NaN,NaN,NaN,NaN,NaN
110,8,x,4.0,cc,150.000,NaN,NaN,NaN,NaN,NaN
111,8,x,3.0,cc,NaN,150.0,NaN,NaN,NaN,NaN
112,8,x,3.0,cc,NaN,150.0,NaN,NaN,NaN,NaN
117,24,x,0.0,cc,100.000,NaN,NaN,NaN,NaN,NaN
119,33,x,2.0,cc,260.000,260.0,NaN,NaN,NaN,NaN
120,33,x,2.0,cc,260.000,260.0,NaN,NaN,NaN,NaN
123,36,x,1.0,cc,75.000,NaN,NaN,NaN,NaN,NaN
124,39,x,0.0,cc,150.000,NaN,NaN,NaN,NaN,NaN
129,55,x,0.0,cc,100.000,NaN,NaN,NaN,NaN,NaN
130,55,x,1.0,cc,NaN,100.0,NaN,NaN,NaN,NaN
131,55,x,1.0,cc,NaN,100.0,NaN,NaN,NaN,NaN
134,57,x,0.0,cc,73.500,NaN,NaN,NaN,NaN,NaN
135,58,x,3.0,cc,290.000,NaN,NaN,NaN,NaN,NaN
136,58,x,2.0,cc,NaN,290.0,NaN,NaN,NaN,NaN
137,58,x,2.0,cc,NaN,290.0,NaN,NaN,NaN,NaN
139,60,x,0.0,cc,0.002,NaN,NaN,NaN,NaN,NaN
226,2,x,NaN,cc,NaN,NaN,NaN,NaN,15.0,NaN

## Total Sales in WC

In [50]:
df_total[(df_total['region'] == 'wc') & (df_total['type'] == 'x')].sort_values(by='sales', ascending=False)

,Company,type,Grade,region,inventory,production,sales,Price,marketing,percentage_sales
205,35,x,1.0,wc,NaN,NaN,360.000,82.00,1000.0,0.033875
71,22,x,2.0,wc,NaN,307.0,307.000,82.00,800.0,0.030983
59,56,x,3.0,wc,18.793,280.0,261.207,94.00,80.0,0.001624
58,56,x,4.0,wc,825.000,560.0,260.000,95.00,80.0,0.001624
46,12,x,2.0,wc,246.168,NaN,246.118,105.00,400.0,0.009242
66,17,x,2.0,wc,NaN,620.0,245.000,95.00,1250.0,0.039968
55,41,x,0.0,wc,75.000,75.0,235.000,61.52,120.0,0.008088
77,42,x,0.0,wc,NaN,NaN,233.877,75.00,100.0,0.003598
81,50,x,1.0,wc,484.212,300.0,225.503,94.00,100.0,0.004718
51,28,x,2.0,wc,290.000,NaN,200.000,115.00,720.0,0.016767
50,28,x,3.0,wc,415.476,NaN,159.524,125.00,720.0,0.016767
206,37,x,2.0,wc,NaN,NaN,150.000,72.00,1000.0,0.092593
78,45,x,2.0,wc,32.686,NaN,142.314,93.00,NaN,NaN
47,12,x,3.0,wc,NaN,620.0,139.505,125.00,400.0,0.009242
204,20,x,2.0,wc,NaN,NaN,139.000,105.00,1000.0,0.041139
48,27,x,1.0,wc,100.000,200.0,121.084,100.00,NaN,NaN
72,30,x,2.0,wc,680.041,441.0,108.959,115.00,500.0,0.039903
203,20,x,1.0,wc,NaN,NaN,102.239,95.00,1000.0,0.041139
67,17,x,1.0,wc,NaN,NaN,100.000,80.00,1250.0,0.039968
207,61,x,2.0,wc,NaN,NaN,100.000,110.00,500.0,0.045455
76,42,x,1.0,wc,52.386,NaN,97.614,105.00,100.0,0.003598
75,40,x,0.0,wc,217.476,155.0,87.524,75.00,NaN,NaN
202,16,x,3.0,wc,NaN,NaN,70.000,115.00,NaN,NaN
87,57,x,0.0,wc,NaN,NaN,62.129,35.00,1000.0,0.459873
84,53,x,1.0,wc,NaN,NaN,60.000,80.00,NaN,NaN
56,47,x,2.0,wc,243.906,300.0,56.094,110.00,NaN,NaN
74,39,x,2.0,wc,NaN,NaN,50.000,95.00,16.0,0.003368
49,27,x,0.0,wc,187.000,74.0,39.374,85.00,NaN,NaN
70,22,x,1.0,wc,NaN,3.0,7.603,85.00,800.0,0.030983
54,41,x,1.0,wc,235.000,235.0,5.000,75.79,120.0,0.008088
45,12,x,4.0,wc,620.000,NaN,NaN,NaN,400.0,0.009242
52,36,x,1.0,wc,75.000,NaN,NaN,NaN,NaN,NaN
53,36,x,0.0,wc,30.000,NaN,NaN,NaN,NaN,NaN
57,47,x,0.0,wc,50.000,NaN,NaN,NaN,NaN,NaN
60,4,x,0.0,wc,310.000,310.0,NaN,NaN,NaN,NaN
61,6,x,0.0,wc,310.000,NaN,NaN,NaN,NaN,NaN
62,6,x,1.0,wc,NaN,50.0,NaN,NaN,NaN,NaN
63,9,x,1.0,wc,280.000,280.0,NaN,NaN,NaN,NaN
64,10,x,0.0,wc,100.000,100.0,NaN,NaN,NaN,NaN
65,17,x,3.0,wc,620.000,NaN,NaN,NaN,1250.0,0.039968
68,19,x,0.0,wc,310.000,NaN,NaN,NaN,NaN,NaN
69,22,x,3.0,wc,310.000,NaN,NaN,NaN,800.0,0.030983
73,39,x,1.0,wc,54.000,NaN,NaN,NaN,16.0,0.003368
79,48,x,4.0,wc,620.000,NaN,NaN,NaN,1000.0,NaN
80,48,x,3.0,wc,NaN,560.0,NaN,NaN,1000.0,NaN
82,51,x,0.0,wc,80.000,NaN,NaN,NaN,NaN,NaN
83,53,x,2.0,wc,87.000,NaN,NaN,NaN,NaN,NaN
85,54,x,0.0,wc,0.033,NaN,NaN,NaN,NaN,NaN
86,57,x,4.0,wc,490.000,NaN,NaN,NaN,1000.0,0.459873
88,58,x,3.0,wc,310.000,NaN,NaN,NaN,NaN,NaN
186,44,x,0.0,wc,NaN,310.0,NaN,NaN,NaN,NaN
187,60,x,2.0,wc,NaN,139.0,NaN,NaN,NaN,NaN

## Total Sales in EC

In [49]:
df_total[(df_total['region'] == 'ec') & (df_total['type'] == 'x')].sort_values(by='sales', ascending=False)

,Company,type,Grade,region,inventory,production,sales,Price,marketing,percentage_sales
2,9,x,0.0,ec,351.932,NaN,878.561,71.0,3591.0,0.039525
201,44,x,0.0,ec,NaN,NaN,662.241,50.0,NaN,NaN
3,9,x,1.0,ec,NaN,NaN,335.000,85.0,3591.0,0.039525
198,20,x,2.0,ec,NaN,NaN,300.000,82.0,960.0,0.039024
16,22,x,2.0,ec,NaN,297.000,297.000,75.0,550.0,0.022916
11,17,x,2.0,ec,NaN,300.000,170.000,90.0,750.0,0.045045
157,56,y,4.0,ec,162.061,135.000,168.939,287.0,NaN,NaN
6,12,x,2.0,ec,NaN,NaN,149.586,100.0,400.0,0.018052
32,43,x,0.0,ec,85.754,225.000,139.246,72.0,20.0,0.001995
199,26,x,0.0,ec,NaN,NaN,135.084,55.0,NaN,NaN
42,56,x,4.0,ec,265.000,280.000,120.000,84.0,NaN,NaN
37,50,x,0.0,ec,NaN,NaN,117.507,80.0,40.0,0.002460
36,50,x,1.0,ec,508.289,300.000,85.711,80.0,40.0,0.002460
34,49,x,2.0,ec,14.809,300.000,85.191,80.0,NaN,NaN
188,11,y,2.0,ec,NaN,180.000,80.000,250.0,NaN,NaN
18,27,x,1.0,ec,158.000,142.000,71.000,85.0,100.0,0.010220
22,31,x,2.0,ec,627.433,570.000,62.567,92.0,NaN,NaN
5,12,x,3.0,ec,NaN,300.000,60.000,120.0,400.0,0.018052
43,59,x,3.0,ec,30.706,NaN,59.154,110.0,NaN,NaN
17,27,x,0.0,ec,130.000,100.000,50.000,75.0,100.0,0.010220
200,39,x,1.0,ec,NaN,NaN,50.000,74.0,NaN,NaN
15,22,x,1.0,ec,NaN,3.000,23.015,75.0,550.0,0.022916
35,49,x,0.0,ec,NaN,NaN,22.888,62.0,NaN,NaN
12,17,x,1.0,ec,NaN,NaN,18.000,75.0,750.0,0.045045
190,43,y,0.0,ec,NaN,9.000,9.000,210.0,NaN,NaN
9,16,x,3.0,ec,71.827,NaN,8.173,110.0,NaN,NaN
31,38,x,3.0,ec,NaN,NaN,3.070,95.0,160.0,0.548603
26,32,x,0.0,ec,NaN,NaN,0.004,30.0,NaN,NaN
0,5,x,0.0,ec,7.000,NaN,NaN,NaN,NaN,NaN
1,6,x,2.0,ec,200.000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
21,29,x,2.0,ec,NaN,100.000,NaN,NaN,NaN,NaN
23,32,x,2.0,ec,257.000,247.000,NaN,NaN,NaN,NaN
24,32,x,3.0,ec,257.000,NaN,NaN,NaN,NaN,NaN
25,32,x,1.0,ec,NaN,247.000,NaN,NaN,NaN,NaN
27,34,x,2.0,ec,250.000,260.000,NaN,NaN,NaN,NaN
28,35,x,1.0,ec,540.000,300.000,NaN,NaN,NaN,NaN
29,38,x,5.0,ec,265.000,NaN,NaN,NaN,160.0,0.548603
30,38,x,4.0,ec,NaN,255.000,NaN,NaN,160.0,0.548603
33,45,x,2.0,ec,100.000,NaN,NaN,NaN,NaN,NaN
38,54,x,0.0,ec,260.000,NaN,NaN,NaN,NaN,NaN
39,54,x,1.0,ec,520.000,550.000,NaN,NaN,NaN,NaN
40,55,x,0.0,ec,150.000,NaN,NaN,NaN,NaN,NaN
41,55,x,2.0,ec,NaN,300.000,NaN,NaN,NaN,NaN
44,60,x,2.0,ec,270.000,270.000,NaN,NaN,NaN,NaN
156,56,y,5.0,ec,120.000,NaN,NaN,NaN,NaN,NaN
158,12,y,4.0,ec,240.000,NaN,NaN,NaN,1000.0,NaN
159,17,y,3.0,ec,240.000,NaN,NaN,NaN,1000.0,NaN
160,17,y,2.0,ec,NaN,240.000,NaN,NaN,1000.0,NaN
161,19,y,0.0,ec,50.000,NaN,NaN,NaN,NaN,NaN
162,35,y,0.0,ec,0.003,5.793,NaN,NaN,NaN,NaN
163,45,y,2.0,ec,100.000,NaN,NaN,NaN,NaN,NaN
164,52,y,0.0,ec,10.000,140.000,NaN,NaN,NaN,NaN
165,55,y,0.0,ec,227.000,NaN,NaN,NaN,NaN,NaN
184,7,x,3.0,ec,NaN,600.000,NaN,NaN,NaN,NaN
185,52,x,0.0,ec,NaN,300.000,NaN,NaN,NaN,NaN
189,16,y,3.0,ec,NaN,290.000,NaN,NaN,NaN,NaN
221,4,x,NaN,ec,NaN,NaN,NaN,NaN,800.0,NaN
222,21,x,NaN,ec,NaN,NaN,NaN,NaN,1250.0,NaN
223,9,y,NaN,ec,NaN,NaN,NaN,NaN,3519.0,NaN
224,27,y,NaN,ec,NaN,NaN,NaN,NaN,50.0,NaN