# Welcome to Sales Report
author: Jack Lau <br>
last edit: 05/11/19 <br>
purpose: this report is use to show the sales info for the intopia

In [1]:
import pandas as pd
from intopia_analysis import *

In [93]:
df_contact = pd.read_csv('Intopia - Contact List - Sheet1.csv')
#df_sales = get_sales_data('game/period3/')
df_sales = get_sales_data('game/period6/')
df_production = get_production_data('game/period3/')
df_inventory_begin = get_inventory_data('game/period4/')
df_inventory_end = get_inventory_data('game/period6/')
df_ad = get_advertising_data('game/period3/')

In [43]:
df_inventory_end[df_inventory_end['Company'] == 9]

   Company     Units  Grade type region
5        9   911.616      0    x     ec
0        9   630.875      2    x     ec
0        9   886.988      1    x     wc
4        9  1085.086      0    x     wc
0        9   833.784      2    x     cc
5        9   911.616      0    x     cc
1        9    18.126      1    y     wc

In [44]:
pd.DataFrame(df_inventory.groupby(['Company','type','Grade'])['Units'].sum()).sort_values(by='Units', ascending=False).shape

NameError: name 'df_inventory' is not defined

In [61]:
df_inventory_end.groupby(['type', 'region','Grade'])['Units'].sum()

type  region  Grade
x     cc      0          360.500
              1         2760.369
              2         1043.069
              3         2996.967
              4         6572.000
      ec      0          902.564
              1         1192.810
              2          235.070
              3         4636.696
              4        11507.000
      wc      0         2491.741
              1          763.741
              2          360.298
              3         7186.042
              4        11065.000
              5          310.000
y     cc      0          520.000
              1          128.856
              2          260.000
              3         1416.894
              4         2468.000
      ec      0          346.483
              1            7.847
              3         2486.296
              4         2694.000
      wc      1          144.823
              2          585.030
              3         3719.165
              4         3120.849
              5          255.000
Name: Units, dtype: float64

In [94]:
df_ad_fixed = df_ad[['Company', 'type', 'region', 'Total']]
price = (df_sales['Price'].replace( '[\$,)]','', regex=True )
                   .replace( '[(]','-',   regex=True ).astype(float))
df_sales['Price'] = price

In [ ]:
df_supply = pd.merge(df_inventory, df_production, on=['Company', 'Grade', 'region', 'type'], how='outer')
df_supply = df_supply[['Company', 'type', 'Grade', 'region', 'Units', 'Unit Production']]
df_supply = df_supply.rename(columns={'Units':"inventory", 'Unit Production':"production"})
df_total = pd.merge(df_supply, df_sales, on=['Company', 'Grade', 'region', 'type'], how='outer')
df_total = df_total.rename(columns={'Unit Sales':"sales"})
df_total = pd.merge(df_total, df_ad_fixed, on=['Company', 'region', 'type'], how='outer')
df_total = df_total.rename(columns={'Total':"marketing"})

In [ ]:
df_total.groupby(['type', 'region','Grade'])['production', 'inventory'].sum().to_csv('total_supply.csv')

## Total Sales per area

In [95]:
df_sales['cost'] = df_sales['Price'] * df_sales['Unit Sales']

In [97]:
df_sales[(df_sales['Company'] == 17)]

   Company  Unit Sales  Grade  Price type region        cost
4       17     216.713      4   98.0    x     cc   21237.874
5       17     277.787      6  139.0    x     cc   38612.393
3       17     150.000      4   98.0    x     ec   14700.000
4       17     300.000      6  129.0    x     ec   38700.000
1       17     150.000      4   98.0    x     wc   14700.000
2       17     300.000      6  129.0    x     wc   38700.000
4       17     240.000      5  419.0    y     cc  100560.000
5       17     470.000      6  529.0    y     cc  248630.000
5       17     150.000      5  399.0    y     ec   59850.000
6       17     240.000      6  419.0    y     ec  100560.000
6       17     150.000      5  399.0    y     wc   59850.000
7       17     198.377      6  529.0    y     wc  104941.433

In [89]:
df_sales

    Company  Unit Sales  Grade  Price type region        cost
0         3     200.000      5  102.0    x     cc   20400.000
1         9     468.424      2   82.0    x     cc   38410.768
2        13     247.208      3   91.0    x     cc   22495.928
3        17     283.591      4   99.0    x     cc   28075.509
4        17     150.000      5   75.0    x     cc   11250.000
5        19      59.042      3  100.0    x     cc    5904.200
6        19     159.463      4  110.0    x     cc   17540.930
7        22     504.104      4   90.0    x     cc   45369.360
8        26     267.092      4   79.0    x     cc   21100.268
9        27     116.001      2   75.0    x     cc    8700.075
10       28     242.014      3  105.0    x     cc   25411.470
11       28     253.607      4  115.0    x     cc   29164.805
12       34     379.684      4   90.0    x     cc   34171.560
13       34     335.000      5   80.0    x     cc   26800.000
14       35      70.000      4   98.0    x     cc    6860.000
15       35     200.000      5   87.0    x     cc   17400.000
16       38     480.000      5   70.0    x     cc   33600.000
17       39     210.097      4   81.0    x     cc   17017.857
18       39      88.722      5  120.0    x     cc   10646.640
19       42     290.186      4   96.0    x     cc   27857.856
20       42     100.000      5  115.0    x     cc   11500.000
21       44     230.676      4  110.0    x     cc   25374.360
22       44     405.796      5  112.0    x     cc   45449.152
23       45      21.283      4  105.0    x     cc    2234.715
24       45     150.000      5  114.0    x     cc   17100.000
25       48     480.911      4  105.0    x     cc   50495.655
26       50     151.025      4  140.0    x     cc   21143.500
27       50     239.546      5  145.0    x     cc   34734.170
28       54      29.399      3   85.0    x     cc    2498.915
29       54     100.000      5   95.0    x     cc    9500.000
..      ...         ...    ...    ...  ...    ...         ...
9        18     255.000      6  600.0    y     wc  153000.000
10       19     127.500      4  310.0    y     wc   39525.000
11       20     140.543      4  435.0    y     wc   61136.205
12       20     100.000      5  475.0    y     wc   47500.000
13       23     214.690      3  230.0    y     wc   49378.700
14       26     100.000      4  267.0    y     wc   26700.000
15       27      50.000      4  295.0    y     wc   14750.000
16       27     110.052      5  385.0    y     wc   42370.020
17       28     178.000      4  340.0    y     wc   60520.000
18       28     160.000      5  405.0    y     wc   64800.000
19       33      27.538      5  322.0    y     wc    8867.236
20       35     200.000      5  400.0    y     wc   80000.000
21       37     200.000      4  330.0    y     wc   66000.000
22       37      14.660      5  480.0    y     wc    7036.800
23       39     100.000      2  220.0    y     wc   22000.000
24       42     194.000      4  275.0    y     wc   53350.000
25       42     410.000      5  320.0    y     wc  131200.000
26       44     191.300      4  405.0    y     wc   77476.500
27       44     300.000      5  480.0    y     wc  144000.000
28       45     280.000      5  420.0    y     wc  117600.000
29       46     443.503      2  200.0    y     wc   88700.600
30       46     122.230      4  320.0    y     wc   39113.600
31       50     250.000      5  370.0    y     wc   92500.000
32       51     150.000      3  260.0    y     wc   39000.000
33       56     214.650      5  300.0    y     wc   64395.000
34       57      24.033      3  300.0    y     wc    7209.900
35       57     100.000      5  400.0    y     wc   40000.000
36       59      24.094      4  401.0    y     wc    9661.694
37       61     231.506      4  345.0    y     wc   79869.570
38       61     209.455      5  450.0    y     wc   94254.750

[183 rows x 7 columns]

In [96]:
df_sales_sum = pd.DataFrame(df_sales.groupby(['type', 'region','Grade'])['Unit Sales'].sum())
df_sales_cost = pd.DataFrame(df_sales.groupby(['type', 'region','Grade'])['cost'].sum())
df_sales_insight = pd.merge(df_sales_sum, df_sales_cost, on=['type', 'region', 'Grade'], how='outer')
df_sales_insight['average price'] = df_sales_insight['cost'] / df_sales_insight['Unit Sales']
df_sales_insight

                   Unit Sales         cost  average price
type region Grade
x    cc     2         416.527    31239.525      75.000000
            3         122.515    11026.350      90.000000
            4        1740.921   165062.999      94.813607
            5         920.916    89501.785      97.187784
            6        4870.834   594610.682     122.075743
     ec     3          37.328     2612.960      70.000000
            4         967.907    78828.700      81.442432
            5         180.985    19773.498     109.254900
            6        3291.889   392847.801     119.338107
     wc     3         625.081    43238.925      69.173315
            4        2018.068   172890.198      85.671146
            5         287.756    28878.446     100.357407
            6        5233.665   650452.533     124.282416
            7          55.000    11000.000     200.000000
y    cc     3         245.000    66150.000     270.000000
            4         479.328   150730.740     314.462623
            5        2664.884  1028318.975     385.877575
            6        5225.423  2444057.120     467.724263
     ec     3           0.096       21.120     220.000000
            4         476.783   144784.665     303.669940
            5         704.514   264165.600     374.961463
            6        2472.416  1019559.492     412.373764
     wc     3         168.000    47040.000     280.000000
            4         489.589   157413.415     321.521552
            5        1767.681   668021.285     377.908279
            6        3974.224  1751290.063     440.662143
            7          87.107    60974.900     700.000000

## Total marketing as percentage of sales

In [12]:
df_sales_per_team = pd.DataFrame(df_sales.groupby(['Company', 'region','type'])['cost'].sum())
df_sales_per_team = pd.merge(df_sales_per_team, df_ad_fixed, on=['type', 'region', 'Company'], how='outer')
df_sales_per_team['percentage_sales'] = df_sales_per_team['Total'] / df_sales_per_team['cost']
df_sales_per_team = df_sales_per_team[['Company', 'region', 'type', 'percentage_sales']]

In [14]:
df_sales_per_team

    Company region type  percentage_sales
0         9     cc    x          0.030080
1         9     ec    x          0.196323
2         9     wc    x          0.138155
3        14     ec    x          0.166667
4        14     wc    x          0.131752
5        17     cc    x          0.039683
6        17     ec    x          0.126251
7        17     wc    x          0.113434
8        19     cc    x          0.009926
9        19     ec    x          0.010659
10       19     wc    x          0.030166
11       20     ec    x          0.101102
12       20     wc    x          0.040000
13       22     cc    x          0.054735
14       22     ec    x          0.059524
15       22     wc    x          0.079323
16       28     cc    x          0.011429
17       28     wc    x          0.209550
18       30     cc    x               NaN
19       34     cc    x          0.027586
20       37     wc    x          0.043382
21       39     cc    x               NaN
22       42     wc    x          0.080000
23       44     cc    x          0.029998
24       44     ec    x          0.062287
25       44     wc    x          0.040001
26       45     cc    x          0.029894
27       45     ec    x          0.059939
28       45     wc    x          0.040513
29       48     cc    x          0.141743
30       48     wc    x          0.089713
31       50     ec    x          0.056689
32       50     wc    x          0.037500
33       57     cc    x          0.066844
34       57     wc    x          0.056533
35       60     cc    x               NaN
36       60     ec    x          0.205255
37       60     wc    x          0.076811
38       61     wc    x          0.034409
39       14     ec    y               NaN
40       17     ec    y               NaN
41       26     wc    x               NaN
42       14     wc    y               NaN
43       17     wc    y               NaN
44       28     wc    y               NaN
45       30     wc    y               NaN
46       51     wc    y               NaN
47       26     cc    x               NaN
48       17     cc    y               NaN
49       28     cc    y               NaN
50       30     cc    y               NaN

In [13]:
df_total = pd.merge(df_total, df_sales_per_team, on=['Company', 'region', 'type'], how='outer')

NameError: name 'df_total' is not defined

## Top sales in CC

In [ ]:
df_total[(df_total['region'] == 'cc') & (df_total['type'] == 'x')].sort_values(by='sales', ascending=False)

In [ ]:
df_total[(df_total['region'] == 'cc') & (df_total['type'] == 'y')].sort_values(by='sales', ascending=False)

## Total Sales in WC

In [ ]:
df_total[(df_total['region'] == 'wc') & (df_total['type'] == 'x')].sort_values(by='sales', ascending=False)

In [ ]:
df_total[(df_total['region'] == 'wc') & (df_total['type'] == 'y')].sort_values(by='sales', ascending=False)

## Total Sales in EC

In [ ]:
df_total[(df_total['region'] == 'ec') & (df_total['type'] == 'x')].sort_values(by='sales', ascending=False)

In [ ]:
df_total[(df_total['region'] == 'ec') & (df_total['type'] == 'y')].sort_values(by='sales', ascending=False)