# Welcome to Marketing Report
author: Jack Lau <br>
last edit: 13/10/19 <br>
purpose: this report is use to show the advertising spending and pricing info in intopia

In [1]:
import pandas as pd
import os
from intopia_analysis import *

In [2]:
df_contact = pd.read_csv('Intopia - Contact List - Sheet1.csv')
df_price = get_live_price_data('phase2/period3/') #<---- ademend path between library 
df_ad = get_advertising_data('phase2/period5/') #<---- ademend path between library

# Team Tracking

In [3]:
team_tracker(df_contact, 17) #<-- admend the team you want information regarding

,Team Number,Team Member,Main Contact,Email,Facebook
73,17,"Berezovskaia, Katya",TRUE,NaN,https://www.facebook.com/katyaberez
74,17,"Lau, Jack",TRUE,tlau012@uottawa.ca,https://www.facebook.com/yuen.lau.927
75,17,"Duncan, Mackenzie",TRUE,mdunc101@uottawa.ca,https://www.facebook.com/mac.duncan.712
76,17,"Evan, Naylor",TRUE,enayl037@uottawa.ca,https://www.facebook.com/evan.naylor.79
77,17,"Kaminski, Patrick",NaN,NaN,https://www.facebook.com/patrick.kaminski.29

# Marketing Expense Tracking

## Central Canada Marketing Expese

In [4]:
df_ad[df_ad['region'] == 'cc'].sort_values(by='Total', ascending=False)

,Company,Print,TV,Social,Event,Sponsor,Retail,Web,Other,Total,type,region
0,17,0.00,0.00,500.00,500.00,0.00,0.00,500.00,0.00,1500.0,y,cc
3,48,70.00,300.00,300.00,100.00,100.00,100.00,130.00,100.00,1200.0,x,cc
0,17,0.00,0.00,500.00,500.00,0.00,0.00,0.00,0.00,1000.0,x,cc
4,6,0.00,100.00,500.00,0.00,0.00,0.00,100.00,0.00,700.0,x,cc
2,34,10.00,200.00,200.00,75.00,50.00,10.00,75.00,10.00,630.0,x,cc
6,9,71.00,71.00,170.00,29.00,29.00,57.00,141.00,0.00,568.0,x,cc
5,61,50.00,50.00,100.00,0.00,0.00,0.00,50.00,0.00,250.0,x,cc
1,29,10.00,50.00,100.00,0.00,0.00,10.00,55.00,0.00,225.0,x,cc

## Western Canada Marketing Expese

In [6]:
df_ad[df_ad['region'] == 'wc'].sort_values(by=['type','Total'], ascending=False)

,Company,Print,TV,Social,Event,Sponsor,Retail,Web,Other,Total,type,region
5,28,190.00,190.00,190.00,190.00,190.00,190.00,190.00,190.00,1520.0,y,wc
0,12,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,1000.0,y,wc
2,17,0.00,500.00,500.00,0.00,0.00,0.00,0.00,0.00,1000.0,y,wc
8,4,100.00,100.00,200.00,0.00,0.00,100.00,300.00,0.00,800.0,y,wc
4,25,0.00,0.00,250.00,0.00,0.00,0.00,250.00,0.00,500.0,y,wc
9,42,30.00,30.00,30.00,30.00,30.00,30.00,30.00,30.00,240.0,y,wc
14,56,30.00,30.00,30.00,30.00,30.00,30.00,30.00,30.00,240.0,y,wc
1,16,0.00,60.00,60.00,0.00,0.00,0.00,60.00,0.00,180.0,y,wc
12,50,0.00,10.00,10.00,10.00,10.00,0.00,10.00,0.00,50.0,y,wc
13,52,0.00,10.00,20.00,0.00,0.00,0.00,5.00,0.00,35.0,y,wc
15,57,0.00,5.00,20.00,5.00,0.00,0.00,5.00,0.00,35.0,y,wc
11,48,150.00,500.00,500.00,200.00,200.00,200.00,250.00,200.00,2200.0,x,wc
6,35,0.00,0.00,500.00,500.00,500.00,0.00,500.00,0.00,2000.0,x,wc
5,28,150.00,150.00,150.00,150.00,150.00,150.00,150.00,150.00,1200.0,x,wc
2,17,0.00,500.00,500.00,0.00,0.00,0.00,0.00,0.00,1000.0,x,wc
3,22,0.00,150.00,150.00,75.00,75.00,75.00,150.00,75.00,750.0,x,wc
0,12,75.00,75.00,75.00,75.00,75.00,75.00,75.00,75.00,600.0,x,wc
16,61,50.00,50.00,100.00,0.00,0.00,0.00,50.00,0.00,250.0,x,wc
9,42,30.00,30.00,30.00,30.00,30.00,30.00,30.00,30.00,240.0,x,wc
7,37,0.00,100.00,100.00,0.00,0.00,0.00,0.00,0.00,200.0,x,wc
8,4,0.00,50.00,50.00,0.00,0.00,50.00,50.00,0.00,200.0,x,wc
14,56,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,160.0,x,wc
12,50,0.00,30.00,30.00,30.00,30.00,0.00,30.00,0.00,150.0,x,wc
10,45,0.00,0.00,20.00,0.00,0.00,0.00,20.00,0.00,40.0,x,wc
15,57,0.00,5.00,20.00,5.00,0.00,0.00,5.00,0.00,35.0,x,wc

# Pricing Information

## Central Canada Live Price

In [ ]:
df_price[df_price['region'] == 'cc'].sort_values(by='Standard Price Cannabis', ascending=False)

## Western  Canada Live Price

In [ ]:
df_price[df_price['region'] == 'wc'].sort_values(by='Standard Price Cannabis', ascending=False)

## Eastern Canada Live Price

In [ ]:
df_price[df_price['region'] == 'ec'].sort_values(by='Standard Price Cannabis', ascending=False)