# Welcome to Marketing Report
author: Jack Lau <br>
last edit: 13/10/19 <br>
purpose: this report is use to show the advertising spending and pricing info in intopia

In [1]:
import pandas as pd
import os
from intopia_analysis import *

In [6]:
df_contact = pd.read_csv('Intopia - Contact List - Sheet1.csv')
df_price = get_live_price_data('phase2/period3/') #<---- ademend path between library 
df_ad = get_advertising_data('phase2/period6/') #<---- ademend path between library

# Team Tracking

In [7]:
team_tracker(df_contact, 17) #<-- admend the team you want information regarding

,Team Number,Team Member,Main Contact,Email,Facebook
73,17,"Berezovskaia, Katya",TRUE,NaN,https://www.facebook.com/katyaberez
74,17,"Lau, Jack",TRUE,tlau012@uottawa.ca,https://www.facebook.com/yuen.lau.927
75,17,"Duncan, Mackenzie",TRUE,mdunc101@uottawa.ca,https://www.facebook.com/mac.duncan.712
76,17,"Evan, Naylor",TRUE,enayl037@uottawa.ca,https://www.facebook.com/evan.naylor.79
77,17,"Kaminski, Patrick",NaN,NaN,https://www.facebook.com/patrick.kaminski.29

# Marketing Expense Tracking

## Central Canada Marketing Expese

In [12]:
df_ad[df_ad['region'] == 'cc'].sort_values(by=['type', 'Total'], ascending=False)

,Company,Print,TV,Social,Event,Sponsor,Retail,Web,Other,Total,type,region
1,17,200.00,250.00,250.00,250.00,200.00,100.00,250.00,250.00,1750.0,y,cc
6,57,50.00,75.00,50.00,25.00,25.00,50.00,50.00,25.00,350.0,y,cc
9,61,0.00,150.00,150.00,0.00,0.00,0.00,0.00,0.00,300.0,y,cc
4,40,0.00,100.00,100.00,0.00,0.00,0.00,0.00,0.00,200.0,y,cc
2,29,20.00,0.00,0.00,40.00,0.00,0.00,0.00,0.00,60.0,y,cc
0,16,0.00,10.00,10.00,10.00,0.00,0.00,20.00,0.00,50.0,y,cc
1,17,100.00,250.00,250.00,100.00,100.00,100.00,100.00,0.00,1000.0,x,cc
10,9,88.00,87.00,210.00,35.00,35.00,70.00,175.00,0.00,700.0,x,cc
4,40,0.00,100.00,100.00,100.00,50.00,50.00,50.00,50.00,500.0,x,cc
5,48,50.00,100.00,100.00,50.00,50.00,50.00,50.00,50.00,500.0,x,cc
6,57,50.00,75.00,50.00,25.00,25.00,50.00,50.00,25.00,350.0,x,cc
9,61,0.00,150.00,150.00,0.00,0.00,0.00,0.00,0.00,300.0,x,cc
3,38,25.00,25.00,25.00,25.00,25.00,25.00,25.00,25.00,200.0,x,cc
8,60,25.00,25.00,25.00,25.00,25.00,25.00,25.00,25.00,200.0,x,cc
7,6,0.00,10.00,20.00,10.00,5.00,5.00,20.00,0.00,70.0,x,cc

## Western Canada Marketing Expese

In [14]:
df_ad[df_ad['region'] == 'wc'].sort_values(by=['type','Total'], ascending=False)

,Company,Print,TV,Social,Event,Sponsor,Retail,Web,Other,Total,type,region
8,28,250.00,250.00,250.00,250.00,250.00,250.00,250.00,250.00,2000.00,y,wc
2,17,100.00,250.00,500.00,100.00,100.00,100.00,250.00,100.00,1500.00,y,wc
0,12,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,1000.00,y,wc
12,4,100.00,100.00,200.00,0.00,0.00,100.00,300.00,0.00,800.00,y,wc
6,25,0.00,0.00,250.00,0.00,0.00,0.00,250.00,0.00,500.00,y,wc
9,30,50.00,75.00,75.00,75.00,50.00,50.00,75.00,50.00,500.00,y,wc
17,57,50.00,50.00,100.00,75.00,50.00,50.00,100.00,25.00,500.00,y,wc
1,16,0.00,140.00,140.00,0.00,0.00,0.00,140.00,0.00,420.00,y,wc
16,56,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,160.00,y,wc
13,42,10.00,10.00,20.00,10.00,10.00,10.00,20.00,10.00,100.00,y,wc
5,23,0.00,0.14,0.00,0.00,0.00,0.00,0.00,0.00,0.14,y,wc
8,28,187.50,187.50,187.50,187.50,187.50,187.50,187.50,187.50,1500.00,x,wc
2,17,100.00,250.00,200.00,200.00,200.00,100.00,200.00,0.00,1250.00,x,wc
10,35,200.00,200.00,200.00,0.00,200.00,0.00,200.00,0.00,1000.00,x,wc
15,48,100.00,250.00,200.00,100.00,50.00,50.00,200.00,50.00,1000.00,x,wc
4,22,0.00,150.00,150.00,75.00,75.00,75.00,150.00,75.00,750.00,x,wc
9,30,50.00,75.00,75.00,50.00,75.00,75.00,50.00,50.00,500.00,x,wc
17,57,50.00,50.00,100.00,75.00,50.00,50.00,100.00,25.00,500.00,x,wc
0,12,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,400.00,x,wc
7,27,0.00,0.00,100.00,0.00,100.00,0.00,200.00,0.00,400.00,x,wc
11,37,0.00,200.00,200.00,0.00,0.00,0.00,0.00,0.00,400.00,x,wc
3,19,50.00,100.00,25.00,10.00,15.00,5.00,15.00,80.00,300.00,x,wc
18,61,0.00,100.00,100.00,0.00,0.00,0.00,0.00,0.00,200.00,x,wc
13,42,10.00,10.00,20.00,10.00,10.00,10.00,20.00,10.00,100.00,x,wc
16,56,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,80.00,x,wc
14,45,0.00,0.00,30.00,0.00,0.00,30.00,0.00,0.00,60.00,x,wc

## Eastern Canada Marketing Expese

In [15]:
df_ad[df_ad['region'] == 'ec'].sort_values(by=['type','Total'], ascending=False)

,Company,Print,TV,Social,Event,Sponsor,Retail,Web,Other,Total,type,region
0,12,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,1000.0,y,ec
11,9,130.00,120.00,300.00,50.00,50.00,100.00,250.00,0.00,1000.0,y,ec
2,17,100.00,0.00,0.00,100.00,100.00,100.00,100.00,0.00,500.0,y,ec
8,44,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,400.0,y,ec
9,6,0.00,10.00,20.00,10.00,0.00,0.00,0.00,5.00,45.0,y,ec
7,4,100.00,100.00,200.00,0.00,0.00,150.00,250.00,0.00,800.0,x,ec
11,9,88.00,87.00,210.00,35.00,35.00,70.00,175.00,0.00,700.0,x,ec
2,17,100.00,0.00,100.00,100.00,0.00,0.00,200.00,0.00,500.0,x,ec
4,22,0.00,100.00,100.00,50.00,50.00,50.00,100.00,50.00,500.0,x,ec
0,12,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,400.0,x,ec
6,38,25.00,25.00,25.00,25.00,25.00,25.00,25.00,25.00,200.0,x,ec
10,60,25.00,25.00,25.00,25.00,25.00,25.00,25.00,25.00,200.0,x,ec
3,20,0.00,10.00,50.00,10.00,10.00,10.00,10.00,0.00,100.0,x,ec
5,29,0.00,0.00,0.00,0.00,0.00,0.00,60.00,0.00,60.0,x,ec

# Pricing Information

## Central Canada Live Price

In [ ]:
df_price[df_price['region'] == 'cc'].sort_values(by='Standard Price Cannabis', ascending=False)

## Western  Canada Live Price

In [ ]:
df_price[df_price['region'] == 'wc'].sort_values(by='Standard Price Cannabis', ascending=False)

## Eastern Canada Live Price

In [ ]:
df_price[df_price['region'] == 'ec'].sort_values(by='Standard Price Cannabis', ascending=False)