# Welcome to Production Report
author: Jack Lau <br>
last edit: 13/10/19 <br>
purpose: this report is use to show the production and grade info for the intopia

In [1]:
import pandas as pd
from intopia_analysis import *

In [2]:
df_contact = pd.read_csv('Intopia - Contact List - Sheet1.csv')
df_production = get_production_data('phase2/period7/')

## Total Production by grade and type

In [3]:
pd.DataFrame(df_production.groupby(['Grade','type'])['Unit Production'].sum())

            Unit Production
Grade type
0     x            2806.000
      y             294.994
1     x            4168.000
      y             430.000
2     x            6653.000
      y            1214.000
3     x            4870.000
      y             560.000
4     x            2105.000
      y             555.000

## Total Production by type and region

In [ ]:
pd.DataFrame(df_production.groupby(['type', 'region'])['Unit Production'].sum())

## Total Production by grade, type, region

In [ ]:
pd.DataFrame(df_production.groupby(['Grade','type', 'region'])['Unit Production'].sum())

# Production Tracking

In [4]:
df_team_production = production_tracking(df_contact, df_production, 'y', 2) #<-- change the x and y, and grade 
df_team_production

     Company  Grade  Unit Production type region
50         9    2.0            225.0    y     wc
64        11    2.0            180.0    y     ec
104       17    2.0            240.0    y     ec
161       25    2.0            200.0    y     wc
180       27    2.0             79.0    y     wc
220       30    2.0            240.0    y     wc
413       53    2.0             50.0    y     wc

In [8]:
###Team Tracker
df_contact_new = df_contact
df_contact_new['Company'] = df_contact_new['Team Number']
df_team_production_list = pd.merge(df_team_production, df_contact_new, on=['Company'], how='inner')

In [9]:
df_team_production_list

,Company,Grade,Unit Production,type,region,Team Number,Team Member,Main Contact,Email,Facebook
0,9,2.0,225.0,y,wc,9,"Pageau, Thierry",NaN,NaN,NaN
1,9,2.0,225.0,y,wc,9,"Aly, Sabrina",NaN,NaN,NaN
2,9,2.0,225.0,y,wc,9,"Alarie, Maxime",True,malar044@uottawa.ca,https://www.facebook.com/maxime.alarie.90
3,9,2.0,225.0,y,wc,9,"Chartrand, Jean-Christophe",NaN,NaN,NaN
4,9,2.0,225.0,y,wc,9,"Jenicek, Jared",NaN,jjeni030@uottawa.ca,https://www.facebook.com/jared.jenicek
5,11,2.0,180.0,y,ec,11,"Nguyen, Thu",NaN,NaN,NaN
6,11,2.0,180.0,y,ec,11,"Fadiga, Joyce",NaN,NaN,NaN
7,11,2.0,180.0,y,ec,11,"Zaki, Salma",True,szaki104@uottawa.ca,https://www.facebook.com/salma.zaki.334
8,11,2.0,180.0,y,ec,11,"Ganji, Azin",NaN,NaN,NaN
9,17,2.0,240.0,y,ec,17,"Berezovskaia, Katya",True,NaN,https://www.facebook.com/katyaberez
10,17,2.0,240.0,y,ec,17,"Lau, Jack",True,tlau012@uottawa.ca,https://www.facebook.com/yuen.lau.927
11,17,2.0,240.0,y,ec,17,"Duncan, Mackenzie",True,mdunc101@uottawa.ca,https://www.facebook.com/mac.duncan.712
12,17,2.0,240.0,y,ec,17,"Evan, Naylor",True,enayl037@uottawa.ca,https://www.facebook.com/evan.naylor.79
13,17,2.0,240.0,y,ec,17,"Kaminski, Patrick",NaN,NaN,https://www.facebook.com/patrick.kaminski.29
14,25,2.0,200.0,y,wc,25,"Otoo, Michelle",NaN,NaN,NaN
15,25,2.0,200.0,y,wc,25,"Han, Livia",NaN,NaN,NaN
16,25,2.0,200.0,y,wc,25,"Burrage, Perri",NaN,NaN,NaN
17,25,2.0,200.0,y,wc,25,"Fazzari, Ryan",NaN,NaN,NaN
18,25,2.0,200.0,y,wc,25,"Masters, Reid",NaN,NaN,NaN
19,27,2.0,79.0,y,wc,27,"Stirling, Drew",NaN,NaN,NaN
20,27,2.0,79.0,y,wc,27,"Simon, Julia",NaN,NaN,NaN
21,27,2.0,79.0,y,wc,27,"Wilcox, Patrick",NaN,NaN,NaN
22,27,2.0,79.0,y,wc,27,"Donnelly, Robin",NaN,NaN,NaN
23,27,2.0,79.0,y,wc,27,"Burla, Jeremi",NaN,NaN,NaN
24,30,2.0,240.0,y,wc,30,"Wasylycia, Johnathan",NaN,NaN,NaN
25,30,2.0,240.0,y,wc,30,"Jansen van Rensburg, Erhardt",NaN,NaN,NaN
26,30,2.0,240.0,y,wc,30,"Dubb, Sabreen",NaN,NaN,NaN
27,30,2.0,240.0,y,wc,30,"Bird, Moira",NaN,NaN,NaN
28,30,2.0,240.0,y,wc,30,"Soule, Kathleen",NaN,NaN,NaN
29,53,2.0,50.0,y,wc,53,"Wu, Jingxia",True,jwu158@uottawa.ca,https://www.facebook.com/jingxwu
30,53,2.0,50.0,y,wc,53,"Maystruk, Anna",NaN,NaN,NaN
31,53,2.0,50.0,y,wc,53,"Dang, Kenny",NaN,NaN,NaN
32,53,2.0,50.0,y,wc,53,"Akunov, Aidin",NaN,NaN,NaN
33,53,2.0,50.0,y,wc,53,"Le, Minh",NaN,mle060@uottawa.ca,https://www.facebook.com/minh.le.522066