# Welcome to Production Report
author: Jack Lau <br>
last edit: 13/10/19 <br>
purpose: this report is use to show the production and grade info for the intopia

In [2]:
import pandas as pd
from intopia_analysis import *

In [14]:
df_contact = pd.read_csv('Intopia - Contact List - Sheet1.csv')
df_production = get_production_data('phase2/period4/')

## Total Production by grade and type

In [15]:
pd.DataFrame(df_production.groupby(['Grade','type'])['Unit Production'].sum())

            Unit Production
Grade type
0     x            7805.000
      y             898.259
1     x            1365.000
      y             705.000

## Total Production by grade, type, region

In [5]:
pd.DataFrame(df_production.groupby(['Grade','type', 'region'])['Unit Production'].sum())

                   Unit Production
Grade type region
0     x    cc               1060.0
           ec               3500.0
           wc               2899.0
      y    cc                155.0
           ec                272.0
           wc                530.0
1     x    cc               1790.0
           ec               1600.0
           wc                770.0
      y    cc                405.0
           ec                480.0
           wc                389.0
2     x    cc                260.0
           ec                285.0
           wc                715.0
      y    ec                240.0
           wc                700.0

# Production Tracking

In [11]:
df_team_production = production_tracking(df_contact, df_production, 'y', 1) #<-- change the x and y, and grade 
df_team_production

     Company  Grade  Unit Production type region
95        16    1.0            240.0    y     ec
101       17    1.0            240.0    y     ec
146       25    1.0            204.0    y     wc
191       33    1.0            145.0    y     cc
275       46    1.0            260.0    y     cc
310       51    1.0             10.0    y     wc
342       56    1.0            175.0    y     wc

In [13]:
###Team Tracker
team_tracker(df_contact, 39)

,Team Number,Team Member,Main Contact,Email,Facebook
177,39,"Hijazi, Noha",NaN,NaN,NaN
178,39,"Omar, Jasmine",NaN,NaN,NaN
179,39,"Zhu, Jingge",NaN,NaN,NaN
180,39,"Blake, Canesha",NaN,NaN,NaN
181,39,"Yousefi, Hanieh",TRUE,hyous022@uottawa.ca,https://www.facebook.com/hanieh.yousefi