# Welcome to Production Report
author: Jack Lau <br>
last edit: 13/10/19 <br>
purpose: this report is use to show the production and grade info for the intopia

In [7]:
import pandas as pd
import intopia_analysis

In [2]:
path = r'%s' % os.getcwd().replace('\\','/')

In [ ]:
df get_production_data():

# Team Tracking

In [8]:
df_contact = pd.read_csv('Intopia - Contact List - Sheet1.csv')

In [9]:
###Team Tracker
team_tracker(df_contact, 17)

,Team Number,Team Member,Main Contact,Email,Facebook
0,17,"Berezovskaia, Katya",True,NaN,https://www.facebook.com/katyaberez
1,17,"Lau, Jack",True,tlau012@uottawa.ca,https://www.facebook.com/yuen.lau.927
2,17,"Duncan, Mackenzie",True,NaN,https://www.facebook.com/mac.duncan.712
3,17,"Evan, Naylor",True,NaN,https://www.facebook.com/evan.naylor.79
77,17,"Kaminski, Patrick",NaN,NaN,https://www.facebook.com/patrick.kaminski.29