# Welcome to Production Report
author: Jack Lau <br>
last edit: 13/10/19 <br>
purpose: this report is use to show the production and grade info for the intopia

In [1]:
import pandas as pd
from intopia_analysis import *

In [2]:
df_contact = pd.read_csv('Intopia - Contact List - Sheet1.csv')
df_production = get_production_data('phase2/period6/')

## Total Production by grade and type

In [3]:
pd.DataFrame(df_production.groupby(['Grade','type'])['Unit Production'].sum())

            Unit Production
Grade type
0     x            5093.000
      y             930.000
1     x            4603.000
      y             985.000
2     x            3770.000
      y            1472.313
3     x            1250.000
      y             550.000

## Total Production by type and region

In [4]:
pd.DataFrame(df_production.groupby(['type', 'region'])['Unit Production'].sum())

             Unit Production
type region
x    cc             3160.000
     ec             6477.000
     wc             5079.000
y    cc              950.000
     ec             1272.313
     wc             1715.000

## Total Production by grade, type, region

In [5]:
pd.DataFrame(df_production.groupby(['Grade','type', 'region'])['Unit Production'].sum())

                   Unit Production
Grade type region
0     x    cc              530.000
           ec             3035.000
           wc             1528.000
      y    cc              195.000
           ec              580.000
           wc              155.000
1     x    cc              810.000
           ec             2107.000
           wc             1686.000
      y    cc              170.000
           ec              265.000
           wc              550.000
2     x    cc             1425.000
           ec              900.000
           wc             1445.000
      y    cc              585.000
           ec              427.313
           wc              460.000
3     x    cc              395.000
           ec              435.000
           wc              420.000
      y    wc              550.000

# Production Tracking

In [15]:
df_team_production = production_tracking(df_contact, df_production, 'y', 1) #<-- change the x and y, and grade 
df_team_production

     Company  Grade  Unit Production type region
51         9    1.0            100.0    y     wc
65        11    1.0            180.0    y     ec
105       17    1.0             60.0    y     ec
172       25    1.0            170.0    y     cc
194       27    1.0             25.0    y     ec
195       27    1.0             80.0    y     wc
231       30    1.0            240.0    y     wc
386       51    1.0             80.0    y     wc
396       53    1.0             50.0    y     wc

In [20]:
###Team Tracker
team_tracker(df_contact, 51)

     Team Number       Team Member Main Contact Email Facebook
234           51    Martin, Alexia          NaN   NaN      NaN
235           51   Martin, Noeline          NaN   NaN      NaN
236           51    TITIE, Hadrien          NaN   NaN      NaN
237           51  Thiopoulos, Josh          NaN   NaN      NaN