# Welcome to Production Report
author: Jack Lau <br>
last edit: 13/10/19 <br>
purpose: this report is use to show the production and grade info for the intopia

In [1]:
import pandas as pd
from intopia_analysis import *

In [9]:
df_contact = pd.read_csv('Intopia - Contact List - Sheet1.csv')
df_production = get_production_data('phase2/period5/')

## Total Production by grade and type

In [10]:
pd.DataFrame(df_production.groupby(['Grade','type'])['Unit Production'].sum())

            Unit Production
Grade type
0     x              7459.0
      y               957.0
1     x              4160.0
      y              1274.0
2     x              1260.0
      y               940.0

## Total Production by grade, type, region

In [12]:
pd.DataFrame(df_production.groupby(['Grade','type', 'region'])['Unit Production'].sum())

                   Unit Production
Grade type region
0     x    cc               1060.0
           ec               3500.0
           wc               2899.0
      y    cc                155.0
           ec                272.0
           wc                530.0
1     x    cc               1790.0
           ec               1600.0
           wc                770.0
      y    cc                405.0
           ec                480.0
           wc                389.0
2     x    cc                260.0
           ec                285.0
           wc                715.0
      y    ec                240.0
           wc                700.0

# Production Tracking

In [21]:
df_team_production = production_tracking(df_contact, df_production, 'y', 0) #<-- change the x and y, and grade 
df_team_production

     Company  Grade  Unit Production type region
36         9    0.0             80.0    y     wc
45        10    0.0            100.0    y     wc
50        11    0.0            200.0    y     ec
78        13    0.0             80.0    y     cc
171       30    0.0            200.0    y     wc
211       36    0.0            150.0    y     wc
241       40    0.0             75.0    y     cc
331       55    0.0             27.0    y     ec
370       59    0.0             45.0    y     ec

In [28]:
###Team Tracker
team_tracker(df_contact, 9)

,Team Number,Team Member,Main Contact,Email,Facebook
35,9,"Pageau, Thierry",NaN,NaN,NaN
36,9,"Aly, Sabrina",NaN,NaN,NaN
37,9,"Alarie, Maxime",TRUE,malar044@uottawa.ca,https://www.facebook.com/maxime.alarie.90
38,9,"Chartrand, Jean-Christophe",NaN,NaN,NaN
39,9,"Jenicek, Jared",NaN,jjeni030@uottawa.ca,https://www.facebook.com/jared.jenicek