# Welcome to Production Report
author: Jack Lau <br>
last edit: 13/10/19 <br>
purpose: this report is use to show the production and grade info for the intopia

In [31]:
import pandas as pd
from intopia_analysis import *

In [32]:
df_contact = pd.read_csv('Intopia - Contact List - Sheet1.csv')
df_production = get_production_data('game/period4/')

## Total Production by grade and type

In [33]:
pd.DataFrame(df_production.groupby(['Grade','type'])['Unit Production'].sum())

            Unit Production
Grade type
0     x               920.0
      y               907.0
1     x              9759.0
      y              4122.4
2     x             27916.0
      y              4016.0
3     x               310.0
      y               255.0

## Total Production by type and region

In [12]:
pd.DataFrame(df_production.groupby(['type', 'region'])['Unit Production'].sum())

             Unit Production
type region
x    cc             7842.000
     ec             6841.000
     wc             5919.000
y    ec              999.793
     wc             2054.201

## Total Production by grade, type, region

In [13]:
pd.DataFrame(df_production.groupby(['Grade','type', 'region'])['Unit Production'].sum())

                   Unit Production
Grade type region
0     x    cc              580.000
           ec             1202.000
           wc             1024.000
      y    ec              154.793
           wc              140.201
1     x    cc             1540.000
           ec             1560.000
           wc             1068.000
      y    wc              430.000
2     x    cc             2202.000
           ec             2644.000
           wc             1807.000
      y    ec              420.000
           wc              794.000
3     x    cc             2510.000
           ec              900.000
           wc             1460.000
      y    ec              290.000
           wc              270.000
4     x    cc             1010.000
           ec              535.000
           wc              560.000
      y    ec              135.000
           wc              420.000

# Production Tracking

In [34]:
df_team_production = production_tracking(df_contact, df_production, 'y', 2) #<-- change the x and y, and grade 
df_team_production

     Company  Grade  Unit Production type region
25         6    2.0            240.0    y     ec
26         6    2.0            255.0    y     wc
129       14    2.0            230.0    y     ec
130       14    2.0            245.0    y     wc
159       16    2.0            720.0    y     ec
166       17    2.0            240.0    y     ec
167       17    2.0            255.0    y     wc
258       25    2.0            355.0    y     wc
275       27    2.0            130.0    y     wc
322       30    2.0            131.0    y     wc
450       43    2.0            120.0    y     ec
452       43    2.0            140.0    y     wc
526       50    2.0            470.0    y     ec
527       50    2.0            250.0    y     wc
609       56    2.0            235.0    y     wc

In [35]:
###Team Tracker
df_contact_new = df_contact
df_contact_new['Company'] = df_contact_new['Team Number']
df_team_production_list = pd.merge(df_team_production, df_contact_new, on=['Company'], how='inner')

In [36]:
df_team_production_list.to_csv('production.csv')