# Welcome to Production Report
author: Jack Lau <br>
last edit: 13/10/19 <br>
purpose: this report is use to show the production and grade info for the intopia

In [1]:
import pandas as pd
from intopia_analysis import *

In [2]:
df_contact = pd.read_csv('Intopia - Contact List - Sheet1.csv')
df_production = get_production_data('phase2/period7/')

## Total Production by grade and type

In [3]:
pd.DataFrame(df_production.groupby(['Grade','type'])['Unit Production'].sum())

            Unit Production
Grade type
0     x            2516.000
      y             419.994
1     x            3398.000
      y             630.000
2     x            5552.000
      y            1624.000
3     x            3615.000
      y            1050.000
4     x            1600.000
      y             685.000

## Total Production by type and region

In [4]:
pd.DataFrame(df_production.groupby(['type', 'region'])['Unit Production'].sum())

             Unit Production
type region
x    cc             3921.000
     ec             6841.000
     wc             5919.000
y    cc             1355.000
     ec              999.793
     wc             2054.201

## Total Production by grade, type, region

In [5]:
pd.DataFrame(df_production.groupby(['Grade','type', 'region'])['Unit Production'].sum())

                   Unit Production
Grade type region
0     x    cc              290.000
           ec             1202.000
           wc             1024.000
      y    cc              125.000
           ec              154.793
           wc              140.201
1     x    cc              770.000
           ec             1560.000
           wc             1068.000
      y    cc              200.000
           wc              430.000
2     x    cc             1101.000
           ec             2644.000
           wc             1807.000
      y    cc              410.000
           ec              420.000
           wc              794.000
3     x    cc             1255.000
           ec              900.000
           wc             1460.000
      y    cc              490.000
           ec              290.000
           wc              270.000
4     x    cc              505.000
           ec              535.000
           wc              560.000
      y    cc              130.000
           ec              135.000
           wc              420.000

# Production Tracking

In [8]:
df_team_production = production_tracking(df_contact, df_production, 'y', 2) #<-- change the x and y, and grade 
df_team_production

     Company  Grade  Unit Production type region
36         9    2.0            225.0    y     wc
50        11    2.0            180.0    y     ec
66        13    2.0            150.0    y     cc
86        17    2.0            240.0    y     ec
144       25    2.0            200.0    y     wc
167       27    2.0             79.0    y     wc
207       30    2.0            240.0    y     wc
232       33    2.0            260.0    y     cc
392       53    2.0             50.0    y     wc

In [20]:
###Team Tracker
team_tracker(df_contact, 51)

     Team Number       Team Member Main Contact Email Facebook
234           51    Martin, Alexia          NaN   NaN      NaN
235           51   Martin, Noeline          NaN   NaN      NaN
236           51    TITIE, Hadrien          NaN   NaN      NaN
237           51  Thiopoulos, Josh          NaN   NaN      NaN